<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tungkol sa taong i2</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <main>
        <section>
            <h2>About Me</h2>
            <ul>
                <li>Name: Aheizer B. Rodriguez</li>
                <li>Age: 19 years old</li>
                <li>Course: Bachelor of Science in Information Technology</li>
                <li>Specialty: Hardware</li>
            </ul>
        </section>
    </main>
</body>
</html>