<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Me</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <main>
        <section>
            <h2>Contact mo ako boss</h2>
            <p>Email: rodriguez.aheizer.b.1f4@gmail.com</p>
            <p>Phone Number: 09685902451</p>
        </section>
    </main>
</body>
</html>