<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio ni Pogi</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <h1>Aking Portfolio</h1>
        <nav>
            <ul>
                <li><a href="/"></a>Home</li>
                <li><a href="/about">About</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="home">
            <h2>Portfolio ng poging to</h2>
            <p>Hello! I'm Aheizer Rodriguez, a 3rd year college student at sana maka 4th year hehe.</p>
        </section>
    </main>
</body>
</html>